Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, typically stored and accessed electronically from a computer system. It is used to manage, store, and retrieve data in a structured format.

Differences between SQL and NoSQL databases:

SQL databases (Structured Query Language) are relational databases that use tables to store data, and they are based on a fixed schema. They are well-suited for structured data and support ACID properties (Atomicity, Consistency, Isolation, Durability). Examples include MySQL, PostgreSQL, and Oracle.
NoSQL databases are non-relational databases designed for unstructured or semi-structured data. They are flexible, often schema-less, and support high scalability, typically in horizontal distribution. They are used for big data and real-time web applications. Examples include MongoDB, Cassandra, and CouchDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL that is used to define and manage database structures such as tables, schemas, and indexes. It deals with the structure of the database rather than the data itself.

CREATE: This statement is used to create new database objects like tables, views, or indexes.
DROP: This statement is used to delete an existing database object like a table or view.
ALTER: This statement is used to modify an existing database object, such as adding a column or changing a data type.
TRUNCATE: This statement is used to remove all data from a table but does not remove the table itself. It is faster than a DELETE statement because it does not log individual row deletions.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used for managing and manipulating the data within database objects like tables. It includes operations to insert, update, delete, and retrieve data from the database.

INSERT: This statement is used to add new records into a table.
UPDATE: This statement is used to modify existing records in a table.
DELETE: This statement is used to remove records from a table. It can delete specific rows based on conditions or all rows if no condition is provided.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used for querying and retrieving data from a database. The main DQL command is SELECT, which is used to fetch data from one or more tables based on specified conditions.

SELECT: This statement is used to retrieve data from a database. You can specify the columns to be fetched, use conditions with WHERE, and apply other clauses like ORDER BY to sort the results or GROUP BY for aggregation.

Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or a combination of columns in a table that uniquely identifies each record in the table. It ensures that there are no duplicate values and cannot contain NULL values. A table can have only one primary key.
A Foreign Key is a column or a combination of columns in one table that refers to the primary key in another table. It establishes a relationship between the two tables and ensures referential integrity, meaning the value in the foreign key column must either be NULL or match a value in the primary key column of the referenced table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector


conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="your_password",
    database="test_db"
)


cursor = conn.cursor()


cursor.execute("SELECT * FROM students")


result = cursor.fetchall()


for row in result:
    print(row)


cursor.close()
conn.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM: The data source is identified (tables, joins).
WHERE: Filters rows based on conditions.
GROUP BY: Groups rows into summary rows.
HAVING: Filters groups based on conditions (applies after GROUP BY).
SELECT: Specifies the columns to be returned.
DISTINCT: Removes duplicate rows (if used).
ORDER BY: Sorts the result set.
LIMIT / OFFSET: Limits the number of rows returned (if used).