Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = pd.Series([4, 8, 15, 16, 23, 42])

print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
my_list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

series = pd.Series(my_list)

print(series)

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a 2-dimensional, tabular data structure with labeled rows and columns, similar to a spreadsheet or SQL table. It can hold multiple columns, each of which can contain different data types (integers, floats, strings, etc.).

A Series, on the other hand, is a 1-dimensional array with labeled indexes, essentially representing a single column of data.

In [4]:
import pandas as pd

series = pd.Series([10, 20, 30, 40])
print(series)

0    10
1    20
2    30
3    40
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include:

head(n) / tail(n) – View the first or last n rows of a DataFrame.
info() – Display metadata about the DataFrame (columns, data types, missing values).
describe() – Generate summary statistics for numerical columns.
drop(columns=[…]) – Remove specified columns.
rename(columns={…}) – Rename column names.
fillna(value) – Fill missing values with a specific value.
groupby(column).agg(function) – Aggregate data based on a column.
sort_values(by=column, ascending=True/False) – Sort data by a column.
loc[] / iloc[] – Access specific rows and columns using labels or index positions.
apply(function) – Apply a custom function to each element in a column.

In [5]:
data = {"Name": ["Alice", "Bob", "Charlie"], "Age": [25, None, 30]}
df = pd.DataFrame(data)

df["Age"].fillna(df["Age"].mean(), inplace=True)
print(df)

      Name   Age
0    Alice  25.0
1      Bob  27.5
2  Charlie  30.0

<ipython-input-5-c65cf8818780>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable, meaning their data can be modified after creation. However, Panel (which was used for handling 3D data in older versions of Pandas) has been deprecated since Pandas 1.0.

Mutability of Pandas Structures:
Series (Mutable) – The values inside a Series can be changed, but its size (number of elements) is fixed.
DataFrame (Mutable) – Both values and structure (adding/removing rows and columns) can be modified.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
names = pd.Series(["Alice", "Bob", "Charlie"])
ages = pd.Series([25, 30, 35])
genders = pd.Series(["Female", "Male", "Male"])


df = pd.DataFrame({"Name": names, "Age": ages, "Gender": genders})


print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male