Question 1

In [4]:
nihar = 'n', 'i', ['jj', 'kk'], 2.45, ('tt', 'gg')

for i in nihar:
    print (type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Question 2

In [8]:
var1 = '' ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Question 3

In [9]:
86/6

14.333333333333334

In [10]:
45%6

3

In [11]:
65//5

13

In [12]:
12**6

2985984

Question 4

In [16]:
mylist = [2, 'PW', 5.67, 'Skills', 478, 97.44, True, False, '57', 1]

for loop in mylist:
    print (loop)
    print (type(loop))

2
<class 'int'>
PW
<class 'str'>
5.67
<class 'float'>
Skills
<class 'str'>
478
<class 'int'>
97.44
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
57
<class 'str'>
1
<class 'int'>

Question 5

In [ ]:
a = 12
b = 2

while a%b == 0 :
    print ('a is Divisible by b')

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Question 6

In [1]:
numbers = 25, 27, 64, 33, 36, 39, 41, 97, 92, 65, 42, 26, 45, 72, 12, 18, 65, 16, 79, 14, 52, 31, 56, 21, 44, 66

for i in numbers :
    print (i)
    
    if i%3 == 0 :
        print ('Number is divisible by 3')
        
    else :
        print ('Number is not divisible by 3')

25
Number is not divisible by 3
27
Number is divisible by 3
64
Number is not divisible by 3
33
Number is divisible by 3
36
Number is divisible by 3
39
Number is divisible by 3
41
Number is not divisible by 3
97
Number is not divisible by 3
92
Number is not divisible by 3
65
Number is not divisible by 3
42
Number is divisible by 3
26
Number is not divisible by 3
45
Number is divisible by 3
72
Number is divisible by 3
12
Number is divisible by 3
18
Number is divisible by 3
65
Number is not divisible by 3
16
Number is not divisible by 3
79
Number is not divisible by 3
14
Number is not divisible by 3
52
Number is not divisible by 3
31
Number is not divisible by 3
56
Number is not divisible by 3
21
Number is divisible by 3
44
Number is not divisible by 3
66
Number is divisible by 3

Question 7

In [5]:
mutable = ['Q', 'W', 'E', 'R', 'T', 'Y']

mutable[2] = 'F'
print (mutable)

['Q', 'W', 'F', 'R', 'T', 'Y']

In [6]:
imutable = 'Nihar'

imutable[2] = 'j'
print (imutable)

TypeError: 'str' object does not support item assignment